%h1#header 
  #{subdomain}
  
%h2
  %a.in{ :href => '#' }
    = @attending.size
    in

  &bull;
  
  %a.out{ :href => '#out' }
    = @declined.size
    out

.in.responders
  %form.add{ :action => '/add', :method => 'POST' }
    %label{ :for => 'name' } Name
    %input{ :type => 'text', :id => 'name', :name => 'name', :autofocus => true }
    %button I&rsquo;m in

  %ul
    - @attending.each do |responder|
      = haml :_responder, :locals => { :responder => responder }

.out.responders
  %form.add{ :action => '/add', :method => 'POST' }
    %label{ :for => 'name' } Name
    %input{ :type => 'text', :id => 'name', :name => 'name' }
    %button{ :name => 'declined', :value => 'true' } I&rsquo;m out

  %ul
    - @declined.each do |responder|
      = haml :_responder, :locals => { :responder => responder }

%p#footer
  %a{ :href => '/copy' } Copy names
  &bull;
  Delete responsibly.
  &bull;
  %a{ :href => 'http://tonight.pm' } tonight.pm
