%h1#header 
  #{subdomain}

%h2
  Current Total:
  %strong= @attending.count
  
%form#add{ :action => '/add', :method => 'POST' }
  %label{ :for => 'name' } Name
  %input{ :type => 'text', :id => 'name', :name => 'name', :autofocus => true }
  %button I&rsquo;m in

%ul#attendees
  - @attending.each do |attendee|
    %li{ :class => (@added_id == attendee.id ? 'added' : nil) }
      %span.name= html_escape attendee.name
      %span.timestamp= attendee.timestamp.strftime('%I:%M%p').sub(/^0/, '')
      %form.delete{ :action => '/delete', :method => 'POST' }
        %input{ :name => 'id', :value => attendee.id, :type => 'hidden' }
        %button{ :title => "Delete #{ attendee.name }" } &times;

%p#footer
  %a{ :href => 'http://tonight.pm' } tonight.pm
  &bull;
  Delete responsibly.
